body{
    padding-top:1.5%;
    background-color: #000000;
    background-image: url("https://images.pexels.com/photos/669996/pexels-photo-669996.jpeg?cs=srgb&dl=pexels-bich-tran-669996.jpg&fm=jpg");
    background-size:cover;
    font-family: 'Roboto Serif', sans-serif;
    text-align: center;
}

section{
    width: 70%;
    margin-right:auto;
    margin-left:auto;
    padding:50px;
    background-color: #151515;
    text-align: left;
    z-index:1;
    border-radius:15px;
    opacity: 0.95;
}

.header{
  color:#D35110;
}

.form{
  padding:1rem;
  color:white;
  line-height:30px;
  font-size:1rem;
  display:block;
}

ul li{
  list-style: none;
  
}

textarea{
  width:88%;
  height:10em;
  font-family: 'Roboto Serif', sans-serif;
  margin-top:10px;
  padding:7px;
}

select{
  height:2rem;
  width:95%;
  margin: 8px 0;
  
}

input[type=text]{
  height:2rem;
  width:90%;
  margin-top:10px;
}

input[type=email]{
  height:2rem;
  width:90%;
  margin-top:10px;
}

input[type=number]{
  height:2rem;
  width:90%;
  margin-top:10px;
}

#submit{
  font-size:1.4rem;
  font-weight:800;
  color:white;
  font-family: 'Roboto Serif', sans-serif;
  background-color:#D35110;
  padding:1rem;
  width:90%;
  border-color:#D35110;
  opacity:1;
}

.dropdown{
  
  width:90%;
}
@media screen and(max-width:800px){
  body{
    
  display:relative;
  padding-top:1.5%;
  margin-left:0;
  margin-right:20%;
  }
}